[submodule "freedesktop"]
	path = freedesktop
	url = https://github.com/copycat-killer/awesome-freedesktop.git
[submodule "external/FeatherWings.fixed"]
	path = external/FeatherWings.fixed
	url = https://github.com/ProfessorOptics/FeatherWings.fixed
[submodule "external/FeatherWings"]
	path = external/FeatherWings
	url = https://github.com/ProfessorOptics/FeatherWings.git
[submodule "external/timoroes_awesome-config"]
	path = external/timoroes_awesome-config
	url = https://github.com/timroes/awesome-config.git
[submodule "my_widgets/awesompd"]
	path = my_widgets/awesompd
	url = https://github.com/alexander-yakushev/awesompd.git
[submodule "external/alfunx-awesome"]
	path = external/alfunx-awesome
	url = https://github.com/alfunx/.dotfiles.git
[submodule "external/lain"]
	path = external/lain
	url = https://github.com/lcpz/lain.git
