[submodule "freedesktop"]
	path = freedesktop
	url = https://github.com/copycat-killer/awesome-freedesktop.git
[submodule "external/FeatherWings.fixed"]
	path = external/FeatherWings.fixed
	url = https://github.com/ProfessorOptics/FeatherWings.fixed
[submodule "external/FeatherWings"]
	path = external/FeatherWings
	url = https://github.com/ProfessorOptics/FeatherWings.git
