[submodule "freedesktop"]
	path = freedesktop
	url = git@github.com:copycat-killer/awesome-freedesktop.git
[submodule "external/timoroes_awesome-config"]
	path = external/timoroes_awesome-config
	url = git@github.com:timroes/awesome-config.git
[submodule "external/alfunx-awesome"]
	path = external/alfunx-awesome
	url = git@github.com:alfunx/.dotfiles.git
[submodule "external/lain"]
	path = external/lain
	url = git@github.com:lcpz/lain.git
[submodule "external/actionless/awesome_config"]
	path = external/actionless/awesome_config
	url = git@github.com:actionless/awesome_config.git
